.header {
  margin: 0;
  background-color: #ffffff;
  background-image: url('../images/background_header.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 800px;
  display: flex;
  flex-direction: column;
  position: relative;
}


