.nav{
  display: flex;
  justify-content: space-between;
  padding: 30px 80px 30px 30px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  column-gap: 20px;
}

.nav__link {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.nav__link:hover {
  opacity: 0.5;
}

.header__content {
  display: flex;
  flex-direction: column;
}

.header__title {
  margin: 183px 0 28px 80px;
  max-width: 729px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;

}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3F96F3;

}

.header__description {
  font-family: "Noto Serif", Arial, sans-serif;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
  margin-bottom: 28px;
  max-width: 683px;
}

.header__image {
  display: block;
  margin: 124px 5px 0 0;
  width: 646px;
  height: 568px;
  position: absolute;
  top: 0px;
  right: -100px;

}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: auto 80px 40px;
}

.header__footer-heading {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}
.header__footer-list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.header__footer-list-item {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__footer-paragraph {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}
