.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  position: relative;
}

.header {
  background-color: #ffffff;
  background-image: url('../images/background_header.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.nav{
  display: flex;
  justify-content: space-between;
  padding: 30px 80px 30px 30px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  column-gap: 20px;
}

.nav__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000;
}

.header__content {
  display: flex;
  flex-direction: column;
}
.header__title {
  margin: 183px 0 28px 80px;
  max-width: 729px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;

}

.header__span-accent {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3F96F3;

}

.header__description {
  font-family: "Noto Serif";
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
  margin-bottom: 28px;
  max-width: 683px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  margin: auto 80px 40px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  margin: 0;
  top: 0px;
  right: -100px;
  margin-top: 124px;
  margin-right: 5px;
  display: block;
  transform: scale(0.7);

}
.header__footer-heading {
  margin: 0;
  font-size: inherit;
}
.header__footer-list {
  margin-top: auto;
  list-style: none;
  padding: 0;
}

.footer__list-item {
  font-size: inherit;
}

.content{
  margin: 0;
}

/* Recipes */
.recipes {
  background-color: #0a2750;
  background-image: url('../images/background_recipes.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;

}

.recipes__title {
  margin: 0;
  max-width: 580px;
  margin-top: 100px;
  margin-left: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;

}

.recipes__subtitle {
  margin: 0;
  margin-top: 24px;
  margin-left: 80px;
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.recipes__videos{
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 215px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  row-gap: 24px;

}

.recipes__videos-left, .recipes__videos-right {
  margin: 0;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}




.recipes__caption {
  margin: 0;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

/* end of recipes */