.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  margin: 0 auto;
}

.header {
  background-color: #ffffff;
  background-image: url('../images/background_header.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 800px;
  display: flex;
  flex-direction: column;
  margin: 0;
  /* width: 100%; */
}

.nav{
  display: flex;
  justify-content: space-between;
  padding: 30px 80px 30px 30px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  column-gap: 20px;
}

.nav__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000;
}

.header__content {
  display: flex;
  flex-direction: column;
}
.header__title {
  margin: 183px 0 28px 80px;
  max-width: 729px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;

}

.header__span-accent {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3F96F3;

}

.header__description {
  font-family: "Noto Serif";
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
  margin-bottom: 28px;
  max-width: 683px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  margin: auto 80px 40px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  margin: 0;
  top: 0px;
  right: -100px;
  margin-top: 124px;
  margin-right: 5px;
  display: block;
  transform: scale(0.7);

}
.header__footer-heading {
  margin: 0;
  font-size: inherit;
}
.header__footer-list {
  margin-top: auto;
  list-style: none;
  padding: 0;
}

.footer__list-item {
  font-size: inherit;
  color: #6F6F6F;
}

.content{
  margin: 0;
}

/* Recipes */
.recipes {
  padding: 20px 0;
  background-color: #0a2750;
  background-image: url('../images/background_recipes.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* margin: 0; */

}

.recipes__title {
  margin: 0;
  max-width: 580px;
  margin-top: 100px;
  margin-left: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;

}

.recipes__subtitle {
  margin: 0;
  margin-top: 24px;
  margin-left: 80px;
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.recipes__videos{
  margin-top: 80px;
  margin-bottom: 215px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  row-gap: 24px;

}

.recipes__videos-left, .recipes__videos-right {
  margin: 0;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}




.recipes__caption {
  margin: 0;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
/* end of recipes */

/* Reservation */
.reservation {
  background-color: #D9E7FF;
  background-image: url('../images/background_reservation.svg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reservation__title {
  margin: 100px 0 0 0;
  text-align: center;

  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;


}


.reservation__form {
  margin: 0 auto;
  max-width: 385px;
  margin-top: 80px;
  margin-bottom: 120px;
}


.form__fieldset {
  margin: 0;
  border: none;
  margin-bottom: 20px;
  padding: 0;
}

.form__fieldset:last-child {
  margin-bottom: 0;
}



.form__label {
  display: block;
  margin-bottom: 8px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}


::-webkit-input-placeholder,
::-moz-placeholder,
::-ms-input-placeholder,
::-o-input-placeholder {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.form__label-guests {
  display: block;
  padding: 15px 20px;
  background-color: #fff;
  border: 1px solid #838383;

}

.form__label-guests .form__input:focus {
  outline: none;
}



.form__input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #838383;
  border-radius: 4px;
  box-sizing: border-box;
}

.form__input:nth-child(1) {
  border: 0;
  padding: 0;
  border-radius: 0;
}

.form__input:focus {
  outline: none;
}

.form__input_type_time-time {
  border: 1px solid #838383;
}


.form__label_checkbox_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

}

.form__text {
  margin: 0;
}


.form__input_type_checkbox {
  display: none;
}


.form__input_type_checkbox {
  display: none;
}


.form__label_checkbox_content {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  position: relative;
}

.form__custom_checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #fff;
}


.form__input_type_checkbox:checked + .form__custom_checkbox {
  background-color: #1878DC;
  background-image: url('../images/check.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.form__input_type_checkbox:checked + .form__custom_checkbox::after {
  opacity: 1;
}

.form__text {
  margin: 0;
  font-size: 14px;
  color: #333;
  line-height: 1.5;
}


.form__label_checkbox_content .form__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0;

}

.form__button {
  display: block;
  width: 100%;
  padding: 20px 0;
  margin: 32px 0;
  color: #fff;
  background-color: #1878DC;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;

  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: background-color .5s linear;
}

.form__button:hover {
  background-color: #3f96f3;
}



